.section_principal {
    display: flex;
    overflow: hidden;
}

.lado_izquierdo_sp{
    display: flex;
    flex-direction: column;
    width: 40%;
  
}
.lado_derecho_sp{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.cont-mi-imagen {
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: end;
}


.cont_mi_nombre {
    display: flex;
    flex-direction: column;
    padding-top: calc(5px + 2vw);
    gap: 1.5rem;
}
.mi_nombre {
    font-size: clamp(45px, calc(2px + 4vw), 4.5rem);
    color: var(--enfasis);
    font-weight: 600;
}
.mi-imagen {
    width: calc(30px + 48vw);
    user-select: none;
  
}

.mayus_normal {
    text-transform: uppercase;
    color: var(--blanco);
    font-size: clamp(16px, calc(2px + 5vw), 25px);
}

.presentacion_personal {
    margin-top: 1.5rem;
    color: var(--blanco);
}

.texto-presentacion{
    font-size: clamp(12px, calc(2px + 3vw), 14px);
    letter-spacing: 1px;
    line-height: 1.5;
    
}