
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root{
  --gris-claro:#3D3E42;
  --gris-oscuro:#31333B;
  --enfasis:#8DEDED;
  --enfasis-secundario:#5fa8a8;
  --blanco:#ffff;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.margenes_general {
    margin-left: calc(5px + 5vw);
    margin-right: calc(5px + 5vw);
}
.margen_izq {
    margin-left: calc(5px + 5vw);
   
}
.margen_der {
    margin-right: calc(5px + 5vw);
   
}
.margen_top {
    margin-top: calc(5px + 5vw);
   
}


h1,h2, h3, p, a, span, li{
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none; 
  color: inherit; 
  cursor: pointer;  
  outline: none;  
  border: none; 
}


.style-fondo-1{
  background: var(--gris-claro);
  min-height: 90vh;
  background-image: url('./assets/WEBP/fondo1.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.style-fondo-2{
  background: var(--gris-oscuro);
  min-height: 90vh;
  background-image: url('./assets/WEBP/fondo2.webp');
  background-size: cover;
  background-repeat: no-repeat;
}



.cont-titulo-principal{
  padding-top: calc(5px + 5vw);
}

.titulo-principal {
  margin: 0;
  color: var(--blanco);
  font-size: clamp(30px, calc(2px + 2vw), 70px);
}

.cont-btn-ver-mas{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}